<!DOCTYPE html>
<html>

<head>
  <title>SocialWorker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="content">
    <%= render "shared/flash" %>
    <div>
      <%= render "shared/nav" %>
    </div>
    <%= yield %>
  </div>
</body>

</html>